@model Naklinet.Repository.Dto.GetOfferDto
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTransport";
}


<style>

    .radiobtn {
        position: relative;
        display: block;
    }

        .radiobtn label {
            display: block;
            background: #FFFF;
            color: #444;
            border-radius: 5px;
            padding: 10px 20px;
            border: 2px solid #0259a8;
            margin-bottom: 5px;
            cursor: pointer;
        }
            /*            #0259a8
    */
            .radiobtn label:after, .radiobtn label:before {
                content: "";
                position: absolute;
                right: 11px;
                top: 11px;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                background: #003c73;
            }

            .radiobtn label:before {
                background: transparent;
                transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
                z-index: 2;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 13px;
                background-position: center;
                width: 0;
                height: 0;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
            }

        .radiobtn input[type="radio"] {
            display: none;
            position: absolute;
            width: 100%;
            appearance: none;
        }

            .radiobtn input[type="radio"]:checked + label {
                color: #FFF;
                background: #0259a8;
                animation-name: blink;
                animation-duration: 1s;
                border-color: #fff;
            }

                .radiobtn input[type="radio"]:checked + label:after {
                    background: #003c73;
                }

                .radiobtn input[type="radio"]:checked + label:before {
                    width: 20px;
                    height: 20px;
                }

    @@keyframes blink {
        from {
            background-color: #fff;
            color: #000;
        }

        to {
            background-color: #0259a8;
            color: #fff;
        }
    }
</style>
<div class="tuna-loader-container tuna-green">
    <div class="tuna-loader"></div>
</div>

<div class='tuna-signup-container tuna-green'>
    <div class='container'>
        <div class="row">
            <div class='tuna-signup-left col-md-4 col-sm-4'>
                @*<img class='tuna-signup-logo' src='images/tuna-logo.png' alt="logo" />*@
                <h2>Naklinet.com</h2>
                <p>Nakliye için sizden bir kaç bilgi almamız gerekiyor..</p>
                @*<p class="tuna-trial">14 Days Free Trial</p>*@
                <hr />
                <div class="tuna-slider-container">
                    <ul class="tuna-slider">
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eski ve yeni eve adresinizi bilmemiz gerekiyor..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Taşınacak olan eviniz kaç odalı olduğunu seçiniz..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eşyaları kolay taşıyabileceğimiz bir asansörünüz var mı?</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eski evinizin kaçıncı katta olduğu bizim için önemli..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eşyaları kolay taşıyabileceğimiz bir asansörünüz var mı?</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Yeni evinizin kaçıncı katta olduğu bizim için önemli..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eşyalarınızın daha kolay taşınabilmesi için mobil asansör ister misiniz?</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Eşyalarınızı sizin için titizlikle paketleyebiliriz..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Sökülen eşyalarınızı sizin için istediğiniz yerlerine montajını da yapabiliriz..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                        <li class='tuna-signup-testimonial'>
                            <i class="icon icon-quill"></i>
                            <p id="step-info">Son olarak size fiyat çıkarabilmek için bilgilerinizi onaylamanız gerekiyor..</p>
                            <img src='images/testimonials/logo1.png' alt="" />
                            <b><span>‒ Naklinet</span></b>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='tuna-signup-right col-md-8 col-sm-8 '>

                <div class='steps-count'>
                    Ilerleme <span class="step-current">1</span>/<span class="step-count"></span>
                </div>

                <div class="tuna-steps">
                    <div class="step step-active" data-step-id='1'>
                        <div class="step-label">Nereden?</div>
                        <div id="from_autocomp" style="margin-bottom:40px;">
                            <select id="from_auto_complete" class="selectpicker form-control" data-width="100%" data-live-search="true" name="from_auto_complete">
                            </select>
                            <button id="asd" data-toggle="modal" data-target="#reservation"></button>
                        </div>
                        <div class="step-label">Nereye?</div>
                        <div id="to_autocomp">
                            <select id="to_auto_complete" class="selectpicker form-control" data-width="100%" data-live-search="true" name="to_auto_complete">
                            </select>
                        </div>

                        <div class='help-error'><i class="icon icon-warning"></i> Adres seçimi yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='2'>
                        <div class="step-label">Eski eviniz kaç odalı?</div>
                        @foreach (var item in Model.roomCounts)
                        {
                            <div class="radiobtn">
                                <input id="from_@item.ID" value="@item.ID" name="from_room" type="radio" />
                                <label for="from_@item.ID">@item.Count</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="fromMoreRoomCount" value="fromMoreRoom" name="from_room" type="radio" />
                            <label for="fromMoreRoomCount">Daha Büyük</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='3'>
                        <div class="step-label">Eski evinizde asansör var mı?</div>
                        <div class="radiobtn">
                            <input id="fromElevatorTrue" value="true" name="from_elevator" type="radio" />
                            <label for="fromElevatorTrue">Asansör Var</label>
                        </div>
                        <div class="radiobtn">
                            <input id="fromElevatorFalse" value="false" name="from_elevator" type="radio" />
                            <label for="fromElevatorFalse">Asansör Yok</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='4'>
                        <div class="step-label">Eski evinizde kaçıncı katta bulunuyor?</div>
                        <div class="radiobtn">
                            <input id="fromZeroFloor" value="0" name="from_floor" type="radio" />
                            <label for="fromZeroFloor">Giriş Kat</label>
                        </div>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <div class="radiobtn">
                                <input id="fromFloor_@i" value="@i" name="from_floor" type="radio" />
                                <label for="fromFloor_@i">@i</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="fromMoreFloor" value="fromMoreFloor" name="from_floor" type="radio" />
                            <label for="fromMoreFloor">Daha Fazla</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='5'>
                        <div class="step-label">Yeni evinizde asansör var mı?</div>
                        <div class="radiobtn">
                            <input id="toElevatorTrue" value="true" name="to_elevator" type="radio" />
                            <label for="toElevatorTrue">Asansör Var</label>
                        </div>
                        <div class="radiobtn">
                            <input id="toElevatorFalse" value="false" name="to_elevator" type="radio" />
                            <label for="toElevatorFalse">Asansör Yok</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='6'>
                        <div class="step-label">Yeni evinizde kaçıncı katta bulunuyor?</div>
                        <div class="radiobtn">
                            <input id="toZeroFloor" value="0" name="to_floor" type="radio" />
                            <label for="toZeroFloor">Giriş Kat</label>
                        </div>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <div class="radiobtn">
                                <input id="toFloor_@i" value="@i" name="to_floor" type="radio" />
                                <label for="toFloor_@i">@i</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="toMoreFloor" value="toMoreFloor" name="to_floor" type="radio" />
                            <label for="toMoreFloor">Daha Fazla</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='7'>
                        <div class="step-label">Mobil asansör ister misiniz?</div>
                        <div class="radiobtn">
                            <input id="fromMobileLift" value="from" name="mobile_lift" type="radio" />
                            <label for="fromMobileLift">Sadece Eski Evimde İstiyorum</label>
                        </div>
                        <div class="radiobtn">
                            <input id="toMobileLift" value="to" name="mobile_lift" type="radio" />
                            <label for="toMobileLift">Sadece Yeni Evimde İstiyorum</label>
                        </div>
                        <div class="radiobtn">
                            <input id="bothMobileLift" value="both" name="mobile_lift" type="radio" />
                            <label for="bothMobileLift">Her İki Evimde İstiyorum</label>
                        </div>
                        <div class="radiobtn">
                            <input id="noMobileLift" value="no" name="mobile_lift" type="radio" />
                            <label for="noMobileLift">Mobil Asansör İstemiyorum</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='8'>
                        <div class="step-label">Paketleme ister misiniz?</div>
                        @foreach (var item in Model.PackagingOptions)
                        {
                            <div class="radiobtn">
                                <input id="packOp_@item.ID" value="@item.ID" name="packaging_options" type="radio" />
                                <label for="packOp_@item.ID">@item.OptionName</label>
                            </div>
                        }
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='9'>
                        <div class="step-label">Yeni evinizde montaj yapalım mı?</div>
                        <div class="radiobtn">
                            <input id="montageTrue" value="true" name="chose_montage" type="radio" />
                            <label for="montageTrue">Montaj İstiyorum</label>
                        </div>
                        <div class="radiobtn">
                            <input id="montageFalse" value="false" name="chose_montage" type="radio" />
                            <label for="montageFalse">Montaj İstemiyorum</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>


                    <div class="step step-confirm" data-step-id='10'>
                        <form action='post' name='signupForm' autocomplete="off" class="form-horizontal">
                            <div class="form-group">
                                <div class="control-label col-md-4">Oda Sayısı</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="roomCount" class="selectpicker form-control">
                                            @foreach (var item in Model.roomCounts)
                                            {
                                                <option value="@item.ID">@item.Count</option>
                                            }
                                            <option value="fromMoreRoom">Daha Büyük</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Eski Evde Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="fromElevator" class="selectpicker form-control">
                                            <option value="true">Asansör Var</option>
                                            <option value="false">Asansör Yok</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Eski Evde Kat</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="fromFloor" class="selectpicker form-control">
                                            <option value="0">Giriş Kat</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                            <option value="fromMoreFloor">Daha Fazla</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Yeni Evde Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="toElevator" class="selectpicker form-control">
                                            <option value="true">Asansör Var</option>
                                            <option value="false">Asansör Yok</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Yeni Evde Kat</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="toFloor" class="selectpicker form-control">
                                            <option value="0">Giriş Kat</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                            <option value="toMoreFloor">Daha Fazla</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Mobil Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="mobileLift" class="selectpicker form-control">
                                            <option value="from">Sadece Eski Evde</option>
                                            <option value="to">Sadece Yeni Evde</option>
                                            <option value="both">Her İki Evde</option>
                                            <option value="no">Mobil Asansör Yok</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Oda Sayısı</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="packagingOptions" class="selectpicker form-control">
                                            @foreach (var item in Model.PackagingOptions)
                                            {
                                                <option value="@item.ID">@item.OptionName</option>
                                            }
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-4">Montaj</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="montage" class="selectpicker form-control">
                                            <option value="true">Montaj İstiyorum</option>
                                            <option value="false">Montaj İstemiyorum</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-8 col-sm-12 col-md-offset-4 col-sm-offset-0">
                                    <label class="checkbox-inline agreement">
                                        <input id="agreement" name="agreement" type="checkbox" /><a href="#" target="_blank">Sözleşme metnini</a> kabul ediyorum.
                                    </label>
                                </div>
                            </div>

                            <div class="step-confirm-buttons">
                                <div>
                                    <a href="javascript:void(0)" id="getPrice" class="btn btn-white btn-rounded finishBtn">Fiyat Al</a>
                                    <span>veya tıkla "Enter"</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='button-container'>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-white btn-rounded nextStep" tabindex="0">Sonraki Adım →</a>
                        <span>veya tikla "Enter"</span>
                    </div>
                    <a href="javascript:void(0)" class='btn btn-white-transparent btn-rounded prevStep' tabindex="1">← Önceki Adım</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="reservation" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).on('keyup', '#from_autocomp .bs-searchbox input', function (e) {
            var key = $(this).val();
            if (e.keyCode == 13) {

                $("#from_auto_complete option").remove();
                $.ajax({
                    url: '@Url.Action("AutoCompleteAddress","Transport")',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { valueKey: key },
                    success: function (result) {
                        if (result.districts != 'null') {
                            $.each(result.districts, function (key, value) {
                                $("#from_auto_complete")
                                    .append($("<option>", {
                                        value: value.geoObject.metaDataProperty.geocoderMetaData.text,
                                        text: value.geoObject.metaDataProperty.geocoderMetaData.text
                                    }))
                                    .selectpicker('refresh');
                            });
                        }
                    }
                });
                $('.selectpicker').selectpicker('refresh');
            }
        });
        $(document).on('keyup', '#to_autocomp .bs-searchbox input', function (e) {
            var key = $(this).val();
            if (e.keyCode == 13) {

                $("#to_auto_complete option").remove();
                $.ajax({
                    url: '@Url.Action("AutoCompleteAddress","Transport")',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { valueKey: key },
                    success: function (result) {
                        if (result.districts != 'null') {
                            $.each(result.districts, function (key, value) {
                                $("#to_auto_complete")
                                    .append($("<option>", {
                                        value: value.geoObject.metaDataProperty.geocoderMetaData.text,
                                        text: value.geoObject.metaDataProperty.geocoderMetaData.text
                                    }))
                                    .selectpicker('refresh');
                            });
                        }
                    }
                });
                $('.selectpicker').selectpicker('refresh');
            }
        });
        $('.selectpicker').selectpicker({
            noneSelectedText: 'Seçim Yapılmadı',
            liveSearchPlaceholder: 'Enter tuşuna basarak arama yapınız..',
            noneResultsText: 'Hiç bir eşleşme yok',
        });
        $("#asd").click(function () {
            //$('#step-info').text('Evinizin büyüklüğü bizim için önemli');
        });

    </script>
}