@model Naklinet.Repository.Dto.GetOfferDto
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTransport";

    var cusPhone = Context.Session.GetString("SessionCustomerPhone");
}


<style>
    .get-offer-div {
        border-color: #2196F3 !important;
        color: #000 !important;
        background-color: #ddffff !important;
        border-left: 6px solid !important;
        padding: 10px;
    }

        .get-offer-div span {
            font-size: larger;
            font-weight: 600;
        }

    .form-control row {
        margin-bottom: 0;
        padding: 12px 0;
    }

    .modal-body label {
        font-family: 'Open Sans', arial, helvetica, sans-serif;
        font-weight: 600;
    }

    .col-form-label {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
    }

    .text-sm-right {
        text-align: right !important;
    }

    .modal {
        text-align: center;
    }

    @@media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .radiobtn {
        position: relative;
        display: block;
    }

        .radiobtn label {
            display: block;
            background: #FFFF;
            color: #444;
            border-radius: 5px;
            padding: 10px 20px;
            border: 2px solid #0259a8;
            margin-bottom: 5px;
            cursor: pointer;
        }
            /*            #0259a8
    */
            .radiobtn label:after, .radiobtn label:before {
                content: "";
                position: absolute;
                right: 11px;
                top: 11px;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                background: #003c73;
            }

            .radiobtn label:before {
                background: transparent;
                transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
                z-index: 2;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 13px;
                background-position: center;
                width: 0;
                height: 0;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
            }

        .radiobtn input[type="radio"] {
            display: none;
            position: absolute;
            width: 100%;
            appearance: none;
        }

            .radiobtn input[type="radio"]:checked + label {
                color: #FFF;
                background: #0259a8;
                animation-name: blink;
                animation-duration: 1s;
                border-color: #fff;
            }

                .radiobtn input[type="radio"]:checked + label:after {
                    background: #003c73;
                }

                .radiobtn input[type="radio"]:checked + label:before {
                    width: 20px;
                    height: 20px;
                }

    @@keyframes blink {
        from {
            background-color: #fff;
            color: #000;
        }

        to {
            background-color: #0259a8;
            color: #fff;
        }
    }

    .icon-container {
        position: absolute;
        right: 10px;
        top: calc(50% - 15px);
        display: none;
    }

    .loader {
        position: relative;
        height: 20px;
        width: 20px;
        display: inline-block;
        animation: around 5.4s infinite;
    }

    @@keyframes around {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .loader::after, .loader::before {
        content: "";
        background: white;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-width: 2px;
        border-color: #333 #333 transparent transparent;
        border-style: solid;
        border-radius: 20px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        animation: around 0.7s ease-in-out infinite;
    }

    .loader::after {
        animation: around 0.7s ease-in-out 0.1s infinite;
        background: transparent;
    }
</style>
<div class="tuna-loader-container tuna-green">
    <div class="tuna-loader"></div>
</div>

<div class='tuna-signup-container tuna-green'>
    <div class='container'>
        <div class="row">
            <div class='tuna-signup-left col-md-4 col-sm-4'>
                @*<img class='tuna-signup-logo' src='images/tuna-logo.png' alt="logo" />*@
                <h2>Naklinet.com</h2>
                <p>Nakliye için sizden bir kaç bilgi almamız gerekiyor..</p>
                @*<p class="tuna-trial">14 Days Free Trial</p>*@
                <hr />
                <div class="tuna-slider-container">
                    <ul class="tuna-slider">
                        @foreach (var item in Model.StepExplanations)
                        {
                            <li class='tuna-signup-testimonial'>
                                <i class="icon icon-quill"></i>
                                <p id="step-info">@item.Explanation</p>
                                <img src='images/testimonials/logo1.png' alt="" />
                                <b><span>‒ Naklinet</span></b>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class='tuna-signup-right col-md-8 col-sm-8 '>

                <div class='steps-count'>
                    Ilerleme <span class="step-current">1</span>/<span class="step-count"></span>
                </div>

                <div class="tuna-steps">
                    <div class="step step-active" data-step-id='1'>
                        <div class="step-label">Nereden?</div>
                        <div id="from_autocomp" style="margin-bottom:40px; position:relative;">
                            <select id="from_auto_complete" class="selectpicker form-control loading" data-width="100%" data-live-search="true" name="from_auto_complete"></select>
                            <div class="icon-container" id="from_loading">
                                <i class="loader"></i>
                            </div>
                            <button id="asd" data-toggle="modal" data-target="#reservation"></button>
                        </div>
                        <div class="step-label">Nereye?</div>
                        <div id="to_autocomp" style="position:relative;">
                            <select id="to_auto_complete" class="selectpicker form-control" data-width="100%" data-live-search="true" name="to_auto_complete"></select>
                            <div class="icon-container" id="to_loading">
                                <i class="loader"></i>
                            </div>
                        </div>

                        <div class='help-error'><i class="icon icon-warning"></i> Adres seçimi yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='2'>
                        <div class="step-label">Eski eviniz kaç odalı?</div>
                        @foreach (var item in Model.roomCounts)
                        {
                            <div class="radiobtn">
                                <input id="from_@item.ID" value="@item.ID" name="from_room" type="radio" />
                                <label for="from_@item.ID">@item.Count</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="fromMoreRoomCount" value="fromMoreRoom" name="from_room" type="radio" />
                            <label for="fromMoreRoomCount">Daha Büyük</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='3'>
                        <div class="step-label">Eski evinizde asansör var mı?</div>
                        <div class="radiobtn">
                            <input id="fromElevatorTrue" value="true" name="from_elevator" type="radio" />
                            <label for="fromElevatorTrue">Asansör Var</label>
                        </div>
                        <div class="radiobtn">
                            <input id="fromElevatorFalse" value="false" name="from_elevator" type="radio" />
                            <label for="fromElevatorFalse">Asansör Yok</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='4'>
                        <div class="step-label">Eski evinizde kaçıncı katta bulunuyor?</div>
                        <div class="radiobtn">
                            <input id="fromZeroFloor" value="0" name="from_floor" type="radio" />
                            <label for="fromZeroFloor">Giriş Kat</label>
                        </div>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <div class="radiobtn">
                                <input id="fromFloor_@i" value="@i" name="from_floor" type="radio" />
                                <label for="fromFloor_@i">@i</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="fromMoreFloor" value="fromMoreFloor" name="from_floor" type="radio" />
                            <label for="fromMoreFloor">Daha Fazla</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>
                    <div class="step" data-step-id='5'>
                        <div class="step-label">Yeni evinizde asansör var mı?</div>
                        <div class="radiobtn">
                            <input id="toElevatorTrue" value="true" name="to_elevator" type="radio" />
                            <label for="toElevatorTrue">Asansör Var</label>
                        </div>
                        <div class="radiobtn">
                            <input id="toElevatorFalse" value="false" name="to_elevator" type="radio" />
                            <label for="toElevatorFalse">Asansör Yok</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='6'>
                        <div class="step-label">Yeni evinizde kaçıncı katta bulunuyor?</div>
                        <div class="radiobtn">
                            <input id="toZeroFloor" value="0" name="to_floor" type="radio" />
                            <label for="toZeroFloor">Giriş Kat</label>
                        </div>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <div class="radiobtn">
                                <input id="toFloor_@i" value="@i" name="to_floor" type="radio" />
                                <label for="toFloor_@i">@i</label>
                            </div>
                        }
                        <div class="radiobtn">
                            <input id="toMoreFloor" value="toMoreFloor" name="to_floor" type="radio" />
                            <label for="toMoreFloor">Daha Fazla</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='7'>
                        <div class="step-label">Mobil asansör ister misiniz?</div>
                        @foreach (var item in Model.mobileElevator)
                        {
                            <div class="radiobtn">
                                <input id="fromMobileLift_@item.ID" value="@item.ID" name="mobile_lift" type="radio" />
                                <label for="fromMobileLift_@item.ID">@item.OpitonText</label>
                            </div>
                        }
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='8'>
                        <div class="step-label">Paketleme ister misiniz?</div>
                        @foreach (var item in Model.PackagingOptions)
                        {
                            <div class="radiobtn">
                                <input id="packOp_@item.ID" value="@item.ID" name="packaging_options" type="radio" />
                                <label for="packOp_@item.ID">@item.OptionName</label>
                            </div>
                        }
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>

                    <div class="step" data-step-id='9'>
                        <div class="step-label">Yeni evinizde montaj yapalım mı?</div>
                        <div class="radiobtn">
                            <input id="montageTrue" value="true" name="chose_montage" type="radio" />
                            <label for="montageTrue">Montaj İstiyorum</label>
                        </div>
                        <div class="radiobtn">
                            <input id="montageFalse" value="false" name="chose_montage" type="radio" />
                            <label for="montageFalse">Montaj İstemiyorum</label>
                        </div>
                        <div class='help-error'><i class="icon icon-warning"></i> Seçim yapmalısınız..</div>
                    </div>


                    <div class="step step-confirm" data-step-id='10'>
                        <form action='post' id='getOfferForm' autocomplete="off" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-5 text-center" id="fromAddress"></label>
                                <label class="control-label col-md-2 text-center">→</label>
                                <label class="control-label col-md-5 text-center" id="toAddress"></label>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Oda Sayısı</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="roomCount" class="selectpicker form-control">
                                            @foreach (var item in Model.roomCounts)
                                            {
                                                <option value="@item.ID">@item.Count</option>
                                            }
                                            <option value="fromMoreRoom">Daha Büyük</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Eski Evde Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="fromElevator" class="selectpicker form-control">
                                            <option value="true">Asansör Var</option>
                                            <option value="false">Asansör Yok</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Eski Evde Kat</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="fromFloor" class="selectpicker form-control">
                                            <option value="0">Giriş Kat</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                            <option value="fromMoreFloor">Daha Fazla</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4">Yeni Evde Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="toElevator" class="selectpicker form-control">
                                            <option value="true">Asansör Var</option>
                                            <option value="false">Asansör Yok</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Yeni Evde Kat</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="toFloor" class="selectpicker form-control">
                                            <option value="0">Giriş Kat</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                            <option value="toMoreFloor">Daha Fazla</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Mobil Asansör</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="mobileLift" class="selectpicker form-control">
                                            @foreach (var item in Model.mobileElevator)
                                            {
                                                <option value="@item.ID">@item.OpitonText</option>
                                            }
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-4">Paketleme</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="packagingOptions" class="selectpicker form-control">
                                            @foreach (var item in Model.PackagingOptions)
                                            {
                                                <option value="@item.ID">@item.OptionName</option>
                                            }
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-4">Montaj</div>
                                <div class="col-md-8">
                                    <div class="input-container">
                                        <select name="montage" class="selectpicker form-control">
                                            <option value="true">Montaj İstiyorum</option>
                                            <option value="false">Montaj İstemiyorum</option>
                                        </select>
                                        <a href="javascript:void(0)" class="editInput">Düzenle</a>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-8 col-sm-12 col-md-offset-4 col-sm-offset-0">
                                    <label class="checkbox-inline agreement">
                                        <input id="agreement" type="checkbox" /><a href="#" target="_blank">Sözleşme metnini</a> kabul ediyorum.
                                    </label>
                                </div>
                            </div>

                            <div class="step-confirm-buttons">
                                <div>
                                    <a href="javascript:void(0)" id="getPrice" class="btn btn-white btn-rounded finishBtn">Fiyat Al</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='button-container'>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-white btn-rounded nextStep" tabindex="0">Sonraki Adım →</a>
                    </div>
                    <a href="javascript:void(0)" class='btn btn-white-transparent btn-rounded prevStep' tabindex="1">← Önceki Adım</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="reservation" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Randevu Oluştur</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group row get-offer-div align-items-center">
                            <span class="col-12 col-sm-6 col-lg-6 col-form-label text-sm-right m-0">Nakliye Tutarı:</span>
                            <div class="col-12 col-sm-6 col-lg-6 col-form-label">
                                <span id="offer_price">0 ₺</span>
                                <span id="offer_id" style="display:none"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customer_name" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">Adınız</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <input type="text" class="form-control" id="customer_name">
                            </div>
                            <div class='help-error' style="float:right"><i class="icon icon-warning"></i>Boş Geçilemez..</div>
                        </div>

                        <div class="form-group row">
                            <label for="customer_surname" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">Soyadınız</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <input type="text" class="form-control" id="customer_surname">
                            </div>
                            <div class='help-error' style="float:right"><i class="icon icon-warning"></i>Boş Geçilemez..</div>
                        </div>

                        <div class="form-group row">
                            <label for="customer_phone" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">Telefon Numarası</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <input type="text" im-insert="true" data-parsley-trigger="change" required autocomplete="off" class="form-control phone-inputmask" id="customer_phone" />
                            </div>
                            <div class='help-error' style="float:right"><i class="icon icon-warning"></i>Boş Geçilemez..</div>
                        </div>
                        <div class="form-group row">
                            <label for="customer_email" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">E-Mail Adresi</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <input type="email" class="form-control" id="customer_email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="transportDate" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">Ne zaman taşınmak istiyorsunuz?</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <div class="input-group date">
                                    <input type="text" id="transportDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class='help-error' style="float:right"><i class="icon icon-warning"></i>Boş Geçilemez..</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col col-sm-10 col-lg-10 offset-sm-1 offset-lg-0">
                    <button type="button" class="btn btn-space btn-success" id="BtnCreateReservation">Kaydet</button>
                    <button type="button" class="btn btn-space btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Müşteri numarası MODAL-->
<div class="modal fade" id="modalCustomerNumber" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Telefon Numaranız</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group row get-offer-div align-items-center">
                            <span class="col-12 col-sm-12 col-lg-12 col-form-label text-sm-center m-0">Daha kaliteli hizmet için telefon numaranızı giriniz..</span>
                        </div>
                        <div class="form-group row">
                            <label for="getCustomerNumber" class="col-12 col-sm-4 col-lg-4 col-form-label text-sm-right">Telefon Numarası</label>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <input id="txtCustomerNumber" im-insert="true" type="text" data-parsley-trigger="change" required autocomplete="off" class="form-control phone-inputmask">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col col-sm-10 col-lg-10 offset-sm-1 offset-lg-0">
                    <button type="button" class="btn btn-space btn-success" id="BtnGetNumber">Devam Et</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var customerPhone = "@cusPhone";
            customerPhone = $.trim(customerPhone);

            if (customerPhone != "")
                $("#txtCustomerNumber").val(customerPhone);


            $("#modalCustomerNumber").modal("show");
        });
        $("#BtnGetNumber").click(function () {
            var customerNo = $("#txtCustomerNumber").val();
            $.ajax({
                url: '@Url.Action("CreateCustomer","Transport")',
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                data: { customerNo: customerNo },
                beforeSend: function () {
                    swal({
                        title: null,
                        text: "<img class='tuna_loading' src='images/loading.svg'/> Lütfen bekleyiniz...",
                        html: true,
                        showConfirmButton: false
                    });
                },
                complete: function (result) {
                    if (result.responseJSON.status == true) {
                        swal({
                            title: "",
                            text: "Devam etmek için tıklayınız..",
                            type: "success",
                            confirmButtonText: "Devam"
                        });
                        $("#modalCustomerNumber").modal("hide");
                    }
                    else if (result.responseJSON.status == false) {
                        swal({
                            title: "Hata!",
                            text: result.responseJSON.msg,
                            type: "error",
                            confirmButtonText: "Tamam"
                        });
                    }
                }
            });
        });
        $(document).on('keyup', '#from_autocomp .bs-searchbox input', function (e) {
            var key = $(this).val();
            if (e.keyCode == 13) {
                if (key.length > 2) {
                    $("#from_auto_complete option").remove();
                    $.ajax({
                        url: '@Url.Action("AutoCompleteAddress","Transport")',
                        type: 'post',
                        contentType: 'application/x-www-form-urlencoded',
                        data: { valueKey: key },
                        beforeSend: function () {
                            $("#from_loading").show();
                        },
                        complete: function () {
                            $("#from_loading").hide();
                        },
                        success: function (result) {
                            if (result.districts != 'null') {
                                $.each(result.districts, function (key, value) {
                                    $("#from_auto_complete")
                                        .append($("<option>", {
                                            value: value.geoObject.metaDataProperty.geocoderMetaData.text,
                                            text: value.geoObject.metaDataProperty.geocoderMetaData.text
                                        }))
                                        .selectpicker('refresh');
                                });
                            }
                        }
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            }
        });
        $(document).on('keyup', '#to_autocomp .bs-searchbox input', function (e) {
            var key = $(this).val();
            if (e.keyCode == 13) {
                if (key.length > 2) {
                $("#to_auto_complete option").remove();
                    $.ajax({
                        url: '@Url.Action("AutoCompleteAddress","Transport")',
                        type: 'post',
                        contentType: 'application/x-www-form-urlencoded',
                        data: { valueKey: key },
                        beforeSend: function () {
                            $("#to_loading").show();
                        },
                        complete: function () {
                            $("#to_loading").hide();
                        },
                        success: function (result) {
                            if (result.districts != 'null') {
                                $.each(result.districts, function (key, value) {
                                    $("#to_auto_complete")
                                        .append($("<option>", {
                                            value: value.geoObject.metaDataProperty.geocoderMetaData.text,
                                            text: value.geoObject.metaDataProperty.geocoderMetaData.text
                                        }))
                                        .selectpicker('refresh');
                                });
                            }
                        }
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            }
        });
        $('.selectpicker').selectpicker({
            noneSelectedText: 'Seçim Yapılmadı',
            liveSearchPlaceholder: 'Enter tuşuna basarak arama yapınız..',
            noneResultsText: 'Hiç bir eşleşme yok',
        });
        var date = new Date();
        date.setDate(date.getDate() + 1);
        $('.date').datepicker({
            format: "dd.mm.yyyy",
            todayBtn: "linked",
            language: "tr",
            todayHighlight: true,
            startDate: date,
            maxViewMode: 0
        });
        $("#asd").click(function () {
        });
        $("#deneme").click(function () {
            var signupForm = $("#getOfferForm");

            var roomCountInput = signupForm.find('select[name="roomCount"]');
            console.log(roomCountInput.length);
            console.log(roomCountInput.val());
            console.log(roomCountInput);
        });

        $(function (e) {
            "use strict";
            $(".date-inputmask").inputmask("dd/mm/yyyy"),
                $(".phone-inputmask").inputmask("(999) 999-9999"),
                $(".email-inputmask").inputmask({
                    mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                    greedy: !1,
                    onBeforePaste: function (n, a) {
                        return (e = e.toLowerCase()).replace("mailto:", "")
                    },
                    definitions: {
                        "*": {
                            validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                            cardinality: 1,
                            casing: "lower"
                        }
                    }
                })
        });

    </script>
}